@page "/enteractivity"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Notifications;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@inject SfDialogService DialogService

<PageTitle>Enter Activity</PageTitle>

<div class="col-lg-12 control-section toast-default-section">
    <SfToast @ref="ToastObj" Title="Success" Content="A new entry has been added" Timeout="2000" Icon="e-meeting" CssClass="e-toast-success">
        <ToastPosition X="Right" Y="Bottom"></ToastPosition>
    </SfToast>
</div>

<SfCard style="max-width: 400px">
    <CardContent>
        <div class="container-fluid">
            <div>
                @*Title*@
                <div class="row my-1 mt-2">
                    <h3 class="text-center">Add Entry</h3>
                </div>
            </div>
            <div> @*Date Selection*@
                <div class="row">
                    <SfDateTimePicker TValue="DateTime" Value="@ViewDate" CssClass="e-popup-expand" Placeholder="Choose a Date"
                                      ShowClearButton="false" Format="yyyy-MM-dd HH:mm" WeekNumber="true">
                        <DateTimePickerEvents TValue="DateTime" ValueChange="@OnDateChange"></DateTimePickerEvents>
                    </SfDateTimePicker>
                </div>
                <div class="row justify-content-center my-1">
                    <div class="col-4 col-md-3 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="@Sub15Minutes">-15</SfButton>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="@ResetTime">Reset</SfButton>
                    </div>
                    <div class="col-4 col-md-3 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="@Add15Minutes">+15</SfButton>
                    </div>
                </div>
            </div>
            <div> @*Activities*@
                <div class="row my-1 mt-2">
                    <h4 class="text-center">Activities</h4>
                    @for (int i = 0; i < InputActivities.Count(); i++)
                    {
                        var bIndex = i;
                        <div class="my-1">
                            <SfAutoComplete TValue="string" TItem="ActivityModel" Placeholder="e.g. Bike" DataSource="@Activities"
                                            EnableVirtualization="true" @bind-Value="@InputActivities[bIndex]">
                                <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                            </SfAutoComplete>
                        </div>
                    }
                </div>
                <div class="row justify-content-center my-1">
                    <div class="col-6 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="RemoveInputActivity">Remove Activity</SfButton>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="AddInputActivity">Add Activity</SfButton>
                    </div>
                </div>
            </div>
            <div> @*Socials*@
                <div class="row my-1 mt-2">
                    <h4 class="text-center">Socials</h4>
                    <div class="my-1 d-flex justify-content-center">
                        <SfSwitch @bind-Checked=@IsDiscord OnLabel="Discord" OffLabel="Social" CssClass="e-large"></SfSwitch>
                    </div>
                    @for (int i = 0; i < InputSocials.Count(); i++)
                    {
                        var bIndex = i;
                        <div class="my-1">
                            <SfAutoComplete TValue="string" TItem="string" Placeholder="e.g. Theodor" DataSource="@Socials"
                                            EnableVirtualization="true" @bind-Value="@InputSocials[bIndex]">
                                <AutoCompleteFieldSettings></AutoCompleteFieldSettings>
                            </SfAutoComplete>
                        </div>
                    }
                </div>
                <div class="row justify-content-center my-1">
                    <div class="col-6 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="RemoveInputSocial">Remove Social</SfButton>
                    </div>
                    <div class="col-6 d-flex justify-content-center">
                        <SfButton CssClass="e-block" @onclick="AddInputSocial">Add Social</SfButton>
                    </div>
                </div>
            </div>
            <div> @*Submit buttons*@
                <div class="row justify-content-center my-2">
                    <div class="col-6 col-md-6 d-flex justify-content-center">
                        <SfButton CssClass="e-block" IsPrimary="true" OnClick="@(SubmitEntry)">Submit</SfButton>
                    </div>
                </div>
            </div>
        </div>
    </CardContent>
    <CardFooter>
        <CardFooterContent>
        </CardFooterContent>
    </CardFooter>
</SfCard>


@code {
    [Parameter]
    public DateTime ViewDate { get; set; } = DateTime.Now;
    [Parameter]
    public Action<EntryModel?> OnAfterEntryAdded { get; set; }
    [Parameter]
    public bool ResetOnInit { get; set; } = false;

    public void Add15Minutes() => ViewDate = ViewDate.AddMinutes(15);
    public void Sub15Minutes() => ViewDate = ViewDate.AddMinutes(-15);
    public void ResetTime()
    {
        ViewDate = DateTime.Now;
        TimeUpdated();
    }
    private void OnDateChange(ChangedEventArgs<DateTime> args)
    {
        ViewDate = args.Value;
        TimeUpdated();
        StateHasChanged();
    }

    SfToast ToastObj;
    private async Task ShowSuccessToast()
    {
        await this.ToastObj.ShowAsync();
    }
}

<style>
    .e-large {
        width: 65px;
        height: 25px
    }
</style>